body {
    margin:0px;
    width:100%;
    height:100%;

    font-family:sans-serif;
    /* prevent text selection on ui */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* prevent scrolling in windows phone */
    -ms-touch-action: none;
    /* prevent selection highlight */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url('../images/stripes_bg.gif');
}
        
.header, .footer{
    background-color: #fff;
}
.header {
    min-height:1em;
    border-bottom:1px solid #000;
    padding:.5em;
}

#header-controls {
	display:inline;
	margin:0px;
	padding:0px;
}

#header-controls li {
	display:inline !important; 
	list-style-type: none;	
}

#header-controls li select {
	display:inline !important;
}

.navbtn-hover, .navbtn:active {
    color: #222;
    text-shadow: 0px 1px #aaa;
    background-color: #aaa;
    box-shadow: 0 0 1px 1px #444,inset 0 1px 0 0 #ccc;   
}

